## Fetch Rewards Coding Test
### Stakholder Questions

7/21/2021
Lili Teister

**Exercise:** https://fetch-hiring.s3.amazonaws.com/data-analyst/ineeddata-data-modeling/data-modeling.html

In [1]:
import sqlite3
import pandas as pd

In [3]:
def sqlite_connection(dbname):
    c = None
    try:
        c = sqlite3.connect(dbname)
        print(f"Database {dbname} connected with sqlite version {sqlite3.version}")
    except Error as err:
        print(err)
        
    return c

conn = sqlite_connection('fetchTest.db')

Database fetchTest.db connected with sqlite version 2.6.0

__Selected Questions:__
- When considering average spend from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?
- When considering total number of items purchased from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

In [23]:
sql_qc = '''
    SELECT 
        count(1) as N
    FROM 
        receiptsFact
    WHERE 
        (
            purchasedItemCount IS NULL
            OR totalSpent IS NULL
        )
        AND rewardsReceiptStatus IN ('FINISHED','REJECTED')
'''

sql = '''
    SELECT 
        rewardsReceiptStatus
        , SUM(purchasedItemCount) as totalItemsPurchased
        , AVG(totalSpent) as averageSpend
    FROM 
        receiptsFact 
    WHERE 
        rewardsReceiptStatus IN ('FINISHED','REJECTED')
    GROUP BY 
        rewardsReceiptStatus
'''

I am making an assumption that 'FINISHED' receipt status is synonymous with 'ACCEPTED.' For records with a 'FINISHED' or 'REJECTED' receipt status, there is no missing data for number of items purchased or total spent.

In [24]:
print("Verifying there is no missing data...")
pd.read_sql_query(sql_qc, conn)

Verifying there is no missing data...

   N
0  0

In [25]:
print("Results:")
pd.read_sql_query(sql, conn)

Results:

  rewardsReceiptStatus  totalItemsPurchased  averageSpend
0             FINISHED                 8184     80.854305
1             REJECTED                  173     23.326056

### Conclusion:

- When considering average spend from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

**Average spend is greater for receipts with a status of 'FINISHED' compared to 'REJECTED'.**

- When considering total number of items purchased from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

**The total number of items purchased is greater for receipts with a status of 'FINISHED' compared to 'REJECTED'.**

---

In [26]:
conn.close()